*{
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
}
body{
  background:#222;
  width:100vw;
  height:100vh;
}
.main{
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 50px;
}
.container{
  width: 50%;
  background:linear-gradient(135deg,#00feba,#5b548a);
  color:#fff;
  border-radius: 20px;
  padding: 25px;
  text-align: center;
}
.search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input{
  border: 0;
  outline: 0;
  background: #ebfffc;
  color:#555;
  border-radius: 25px;
  width: 90%;
  padding:10px 25px;
  height: 60px;
  font-size: 18px;
}
.search button{
  border: 0;
  background: #67efcb;
  color:#f6eeee;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  align-items: center;
}
.search button img{
  height: 20px ;
  width: 20px;
}
.weathericon{
  margin-top: 30px;
  width: 25%;
}
.weather h1{
  font-size: 80px;
  font-weight: 400;
}
.weather h2{
  font-size: 45px;
  font-weight: 500;
}
.details{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
}
.col{
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.col-icon{
  width: 15%;
  margin-right: 20px;
}
.humidity,.wind,.sky{
  font-size: 28px;
  margin-bottom: 5px;
}